* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(242, 243, 237);
}
h2{
    font-family: 'Grandstander', cursive;
    color: rgb(107, 122, 122);
    margin-left: 1vw;
}
h1{
    font-family: 'Grandstander', cursive;
    color: rgb(83, 92, 92);
    margin-left: 2vw;
}
button{
    cursor: pointer;
    border-radius: 2px;
}
input{
    border-radius: 2px;
}
.navbar{
    padding: 1.5vh;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-bottom: 2px;
}


.navbar a{
    font-size: 22px;
    float: right;
    color: #e2dddd;
    text-align: center;
    padding: 3px;
    margin-left: 0.6rem;
}

.navbar a:hover{
  color: rgb(201, 196, 196);
  border-bottom: 1px solid rgb(145, 143, 143);
}

.cart{
    border: 2px solid black;
    padding: 2px;
    font-size: 22px;
    text-align: center;
}
.cart:hover{
    cursor: pointer;
}
.navbar a:active {
  background-color: rgb(105, 104, 104);
  color: rgb(7, 7, 7);
  border-radius: 4px;
  border: none;
}

#home{   
    float: left;
    color: rgb(241, 220, 191);
    font-family: 'Grandstander', cursive;
}

.cart{
    background-color: rgb(206, 195, 195);
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 0.6rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 0.4rem;
}
.cart a:hover{
    border: none;
}


.book-catalog{
    display: flex;
    padding: 3px 6px;
    max-width: 100%;
    overflow: auto;
}
.book{
    width: 12vw;
    background-color: rgb(218, 215, 212);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.book img{
    cursor: pointer;
    border-radius: 3px;
    margin: 10px;
}
.book img:hover{
    border: 0.3px solid black;
}
.add-book{
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.add-book button{
    padding: 2px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

/* .add-book button:hover{

} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(173, 194, 194);
    border-radius: 3px;
    padding-left: 10px;
    width: 40%;
    max-height: 80vh;
    margin: 20px 1px;
    overflow: auto;
}
.container li{
    list-style: none;
}


.complete-book-catalog{
    display: flex;
    padding: 5px;
    max-height: 75vh;
    margin-top: 10px;
    /* background-color: red; */
}
.left{
    width: 25%;
    background-color: white;
    padding: 3px;
    margin-right: 5px;
    display: flex;   
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(182, 176, 176);
}

.right{
    background-color: rgb(197, 201, 189);
    overflow-y: scroll;
    padding: 20px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(182, 177, 177);
}

